<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.HolderMeetingMapper">

    <!--根据主持人id查询会议信息-->
    <select id="selectMeetingByHostId" parameterType="Integer" resultType="com.example.pojo.Meetinginfo">
        select t2.* from holder_meeting t1
        inner join `meetinginfo` t2 on t1.meeting_id = t2.meeting_id
        where t1.user_id = #{hostId}
    </select>


</mapper>