<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.MeetingInfoMapper">

    <!--查询在截止日期在当前时间之前的会议信息-->
    <select id="meetingAvailble" resultType="com.example.pojo.Meetinginfo">
        select * from `meetinginfo` where endtime &gt; now()
    </select>

    <!--查询目前最大的会议号-->
    <select id="selctMaxMeetingId" resultType="Integer">
      select IFNULL(max(meeting_id),0)  from `meetinginfo`
    </select>
</mapper>