<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.ReviewerReplayMapper">

    <!--查询在截止日期在当前时间之前的会议信息-->
    <select id="getArticle" parameterType="Integer" resultType="com.example.pojo.ReviewerReplay">
        select t2.*,t3.name as reviewer_name,t1.status,t1.title,t1.content,t1.keywords,t1.authors,
        t5.*
        from user_article t1
        right join reviewer_replay t2 ON t1.article_id = t2.article_id
        right join userinfo t3 on t2.reviewer_id = t3.user_id
        right join meeting_article t4 on t1.article_id = t4.article_id
        right join meetinginfo t5 on t5.meeting_id = t4.meeting_id
        where t1.article_id = #{articleId} and t1.status &lt; 10
    </select>

    <select id="getArticleInfo" parameterType="Integer" resultType="com.example.pojo.ReviewerReplay">
				select t1.*,t2.meeting_id,t3.`name` as meetingName,t4.ctime,t4.article_ref,t4.`title`,t4.`status`

				from reviewer_replay t1
				RIGHT JOIN meeting_article t2 on t1.article_id = t2.article_id
				RIGHT JOIN meetinginfo t3 on t2.meeting_id = t3.meeting_id
				RIGHT JOIN user_article t4 on t1.article_id = t4.article_id

				where t1.reviewer_id = #{reviewId}
    </select>
    <insert id="insertReviewerReplay" parameterType="com.example.pojo.ReviewerReplay">
        INSERT INTO reviewer_replay ( reviewer_id, article_id, replay, replay_time )
        VALUES
	    ( #{reviewerId} , #{articleId} , #{replay} , now())
    </insert>
    <update id="updateReviewerReplay" parameterType="com.example.pojo.ReviewerReplay">
        UPDATE reviewer_replay
        SET     replay = #{replay},replay_time = now()
        WHERE   article_id = #{articleId} and reviewer_id = #{reviewerId}
    </update>

    <update id="updateArticleStatus" parameterType="com.example.pojo.ReviewerReplay">
        UPDATE user_article
        SET user_article.`status` = #{status}
        WHERE article_id = #{articleId}
    </update>

    <insert id="dispatchArticle" parameterType="List">
        insert into reviewer_replay (reviewer_id, article_id) values
        <foreach collection="mapList" item="item" index="index" separator=",">
            (
            #{item.reviewerId},
            #{item.articleId}
            )
        </foreach>
    </insert>
</mapper>