<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.ReviewerReplayMapper">

    <!--查询在截止日期在当前时间之前的会议信息-->
    <select id="getArticle" parameterType="Integer" resultType="com.example.pojo.ReviewerReplay">
        select t1.*,t2.name as reviewer_name,t3.status,t3.title,t3.content,t3.keywords
        from reviewer_replay t1
        INNER JOIN userinfo t2 ON t1.reviewer_id = t2.user_id
        INNER JOIN user_article t3 on t1.article_id = t3.article_id
        where t1.article_id = #{articleId} and t3.status &lt; 4
    </select>
</mapper>