<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UserMapper">

    <select id="queryAll" resultType="com.example.pojo.User">
        select * from `user` where user_role != 1002
    </select>

    <insert id="add" parameterType="com.example.pojo.User">
        insert into `user` values (#{userID},#{userName},#{userPwd},#{status},#{role},#{realName})
    </insert>

    <select id="queryByName" resultType="com.example.pojo.User">
        select * from `user` where username = #{userName}
    </select>

    <select id="queryByID" resultType="com.example.pojo.User">
        select * from `user` where user_id = #{userID}
    </select>

    <update id="updateUserStatus" parameterType="com.example.pojo.User">
        update `user` where user_id = #{userID}
    </update>

    <update id="updateUserPassword" parameterType="com.example.pojo.User">
        update `user` set password=#{password} where user_id= #{userId}
    </update>

    <update id="updateStatus2" parameterType="List">
        update `user` set user_role=CONCAT(user_role,',2')
        <where>
            <if test="idList != null and idList.size() > 0">
                 user_id in
                <foreach collection="idList" item="id" index="index" open="(" separator="," close=")">
                    #{id}
                </foreach>
                and find_in_set('2',user_role) = 0
            </if>
        </where>
    </update>

    <update id="delStatus2" parameterType="List">
        update `user` set user_role=replace(user_role,',2','')
        <where>
            <if test="idList != null and idList.size() > 0">
                 user_id in
                <foreach collection="idList" item="id" index="index" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </update>
</mapper>

