<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UserInfoMapper">

    <select id="reviewerAvailable"  resultType="com.example.pojo.Userinfo">
        select distinct * from (
        select t1.* from `userinfo` t1
        <where>
        t1.user_id not in (select user_id from contributor_meeting where meeting_id = #{meetingId})
            <if test="reviewerIdList != null and reviewerIdList.size() > 0">
                and t1.user_id not in
                <foreach collection="reviewerIdList" item="ids" index="index" open="(" separator="," close=")">
                    #{ids}
                </foreach>
            </if>
        </where>
        ) tt
    </select>

    <update id="updateStatus2" parameterType="List">
        update `userinfo` set user_role=CONCAT(user_role,',2')
        <where>
            <if test="idList != null and idList.size() > 0">
                 user_id in
                <foreach collection="idList" item="id" index="index" open="(" separator="," close=")">
                    #{id}
                </foreach>
                and find_in_set('2',user_role) = 0
            </if>
        </where>
    </update>

    <update id="delStatus2" parameterType="List">
        update `userinfo` set user_role=replace(user_role,',2','')
        <where>
            <if test="idList != null and idList.size() > 0">
                 user_id in
                <foreach collection="idList" item="id" index="index" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </update>
</mapper>

